backend/flux2-work/Microsoft.Flow/flows/b865cf6d-dfdf-4b46-8df0-5d0e82baed17/definition.json
{"name":"5584f91b-2235-4050-98d8-7efe607cc5c4","id":"/providers/Microsoft.Flow/flows/5584f91b-2235-4050-98d8-7efe607cc5c4","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"réception des pièces jointes","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"3995bcc7-5e9e-4254-8370-a930628a2317","type":"User","tenantId":"b38370c4-d4e6-4db3-8103-301e95e4e40c"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2026-02-16T10:35:54.0621713Z","connectionKeySavedTimeKey":"2026-02-16T10:35:54.0621713Z","creationSource":"Portal","modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"À_l'arrivée_d'un_nouvel_e-mail_(V3)":{"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnectionNotification","inputs":{"parameters":{"includeAttachments":true,"subjectFilter":"AVS-","fetchOnlyWithAttachment":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"OnNewEmailV3"},"authentication":"@parameters('$authentication')"}}},"actions":{"Appliquer_à_chacun":{"foreach":"@triggerOutputs()?['body/attachments']","actions":{"Envoyer_une_requête_HTTP_à_SharePoint_1":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://fondationclairbois.sharepoint.com/sites/DFIP-SiteEquipe","parameters/method":"POST","parameters/uri":"@concat('_api/web/GetFolderByServerRelativeUrl(''/sites/DFIP-SiteEquipe/Stagiaires%20Doc/', variables('varAVS'), '/8.%20Mod%C3%A8le%20dossier_', variables('varNom'), '%20', variables('varPrenom'), '/1.%20Administratif'')/Files/Add(url=''', items('Appliquer_à_chacun')?['name'], ''',overwrite=true)')","parameters/headers":{"Accept":"application/json"},"parameters/body":"@item()?['contentBytes']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"authentication":"@parameters('$authentication')"},"description":"Upload la pièce jointe dans le sous-dossier 1. Administratif du stagiaire"}},"runAfter":{"Condition":["Succeeded"]},"type":"Foreach","description":"Boucle sur chaque pièce jointe du mail et l'upload dans 1. Administratif"},"Initialiser_la_variable_1":{"runAfter":{"Envoyer_une_requête_HTTP_à_SharePoint_2":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varNom","type":"string","value":"@first(body('Envoyer_une_requête_HTTP_à_SharePoint_2')?['d']?['results'])?['Nom']\r\n"}]},"description":"Nom du stagiaire (depuis SharePoint)"},"Initialiser_la_variable_2":{"runAfter":{"Initialiser_la_variable_1":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varPrenom","type":"string","value":"@first(body('Envoyer_une_requête_HTTP_à_SharePoint_2')?['d']?['results'])?['Prenom']\r\n"}]},"description":"Prénom du stagiaire (depuis SharePoint)"},"Initialiser_la_variable_3":{"runAfter":{"Initialiser_la_variable_2":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varNomPrenom","type":"string","value":"@concat(variables('varNom'),' ',variables('varPrenom'))"}]},"description":"Concaténation Nom + Prénom (pour nommage dossiers/fichiers)"},"Envoyer_une_requête_HTTP_à_SharePoint_2":{"runAfter":{"Requête_HTTP_Demande":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://fondationclairbois.sharepoint.com/sites/DFIP-SiteEquipe","parameters/method":"GET","parameters/uri":"@concat('_api/web/lists/getbytitle(''Stagiaire'')/items?$select=Id,Nom,Prenom,AVS&$filter=Id eq ', first(body('Requête_HTTP_Demande')?['d']?['results'])?['StagiaireIDId'])"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"authentication":"@parameters('$authentication')"},"description":"Récupère Nom, Prénom et AVS du stagiaire via le StagiaireID de la Demande"},"Initialiser_la_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"varDemandeID","type":"string","value":"@first(split(split(triggerOutputs()?['body/subject'],'D°')[1],']'))"}]},"description":"Extrait le DemandeID depuis l'objet du mail\nFormat: [AVS-756.XXXX.XXXX.xx D°{ID}] → {ID}"},"Envoyer_une_requête_HTTP_à_SharePoint_3":{"runAfter":{"Initialiser_varAVS":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://fondationclairbois.sharepoint.com/sites/DFIP-SiteEquipe","parameters/method":"GET","parameters/uri":"@concat('_api/web/GetFolderByServerRelativeUrl(''/sites/DFIP-SiteEquipe/Stagiaires%20Doc/', variables('varAVS'), ''')')\r\n"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"authentication":"@parameters('$authentication')"},"description":"Vérifie si le dossier AVS du stagiaire existe déjà dans Stagiaires Doc\n404 = n'existe pas → création\n200 = existe déjà → skip"},"Condition":{"actions":{"Copier_le_dossier":{"runAfter":{"Envoyer_une_requête_HTTP_à_SharePoint_7":["Succeeded"]},"metadata":{"%252fDocuments%2bpartages%252f8.%2bMod%25c3%25a8le%2bdossier_NOM%2bPr%25c3%25a9nom":"/Documents partages/8. Modèle dossier_NOM Prénom"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://fondationclairbois.sharepoint.com/sites/DFIP-SiteEquipe","parameters/sourceFolderId":"%252fDocuments%2bpartages%252f8.%2bMod%25c3%25a8le%2bdossier_NOM%2bPr%25c3%25a9nom","parameters/destinationDataset":"https://fondationclairbois.sharepoint.com/sites/DFIP-SiteEquipe","parameters/destinationFolderPath":"/Stagiaires Doc/@{variables('varAVS')}","parameters/nameConflictBehavior":1},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CopyFolderAsync"},"authentication":"@parameters('$authentication')"},"description":"Copie le modèle '8. Modèle dossier_NOM Prénom' dans le dossier AVS"},"Envoyer_une_requête_HTTP_à_SharePoint_7":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://fondationclairbois.sharepoint.com/sites/DFIP-SiteEquipe","parameters/method":"POST","parameters/uri":"_api/web/folders/add('/sites/DFIP-SiteEquipe/Stagiaires%20Doc/@{variables('varAVS')}')\n","parameters/headers":{"Accept":"application/json","Content-Type":"application/json"}},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"authentication":"@parameters('$authentication')"},"description":"Crée le dossier racine AVS dans Stagiaires Doc"},"Envoyer_une_requête_HTTP_à_SharePoint":{"runAfter":{"Copier_le_dossier":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://fondationclairbois.sharepoint.com/sites/DFIP-SiteEquipe","parameters/method":"POST","parameters/uri":"@concat('_api/web/GetFileByServerRelativeUrl(''/sites/DFIP-SiteEquipe/Stagiaires%20Doc/', variables('varAVS'), '/8.%20Mod%C3%A8le%20dossier_NOM%20Pr%C3%A9nom/1.%20Administratif/NOM%20Pr%C3%A9nom%20-%20Suivi.docx'')/MoveTo(newurl=''/sites/DFIP-SiteEquipe/Stagiaires%20Doc/', variables('varAVS'), '/8.%20Mod%C3%A8le%20dossier_NOM%20Pr%C3%A9nom/1.%20Administratif/', variables('varNom'), '%20', variables('varPrenom'), '%20-%20Suivi.docx'',flags=1)')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"authentication":"@parameters('$authentication')"},"description":"Renomme NOM Prénom - Suivi.docx avec le vrai nom du stagiaire"},"Envoyer_une_requête_HTTP_à_SharePoint_4":{"runAfter":{"Envoyer_une_requête_HTTP_à_SharePoint":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://fondationclairbois.sharepoint.com/sites/DFIP-SiteEquipe","parameters/method":"POST","parameters/uri":"@concat('_api/web/GetFileByServerRelativeUrl(''/sites/DFIP-SiteEquipe/Stagiaires%20Doc/', variables('varAVS'), '/8.%20Mod%C3%A8le%20dossier_NOM%20Pr%C3%A9nom/1.%20Administratif/NOM%20Pr%C3%A9nom%20-%20Demande%20uniforme.docx'')/MoveTo(newurl=''/sites/DFIP-SiteEquipe/Stagiaires%20Doc/', variables('varAVS'), '/8.%20Mod%C3%A8le%20dossier_NOM%20Pr%C3%A9nom/1.%20Administratif/', variables('varNom'), '%20', variables('varPrenom'), '%20-%20Demande%20uniforme.docx'',flags=1)')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"authentication":"@parameters('$authentication')"},"description":"Renomme NOM Prénom - Demande uniforme.docx avec le vrai nom du stagiaire"},"Envoyer_une_requête_HTTP_à_SharePoint_6":{"runAfter":{"Envoyer_une_requête_HTTP_à_SharePoint_4":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://fondationclairbois.sharepoint.com/sites/DFIP-SiteEquipe","parameters/method":"POST","parameters/uri":"@concat('_api/web/GetFolderByServerRelativeUrl(''/sites/DFIP-SiteEquipe/Stagiaires%20Doc/', variables('varAVS'), '/8.%20Mod%C3%A8le%20dossier_NOM%20Pr%C3%A9nom'')/MoveTo(''/sites/DFIP-SiteEquipe/Stagiaires%20Doc/', variables('varAVS'), '/8.%20Mod%C3%A8le%20dossier_', variables('varNom'), '%20', variables('varPrenom'), ''')')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"authentication":"@parameters('$authentication')"},"description":"Renomme le dossier modèle '8. Modèle dossier_NOM Prénom' → '8. Modèle dossier_{Nom} {Prénom}'"}},"runAfter":{"Envoyer_une_requête_HTTP_à_SharePoint_3":["Succeeded","Failed"]},"else":{"actions":{}},"expression":{"and":[{"equals":["@outputs('Envoyer_une_requête_HTTP_à_SharePoint_3')?['statusCode']",404]}]},"type":"If","description":"404 = Le dossier n'a pas été trouvé → Vrai = On crée le dossier + copie modèle + renommage\nFaux (200) = Dossier existe déjà → on passe directement aux pièces jointes"},"Requête_HTTP_Demande":{"runAfter":{"Initialiser_la_variable":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://fondationclairbois.sharepoint.com/sites/DFIP-SiteEquipe","parameters/method":"GET","parameters/uri":"@concat('_api/web/lists(guid''9616ee1d-dd0b-44fd-a1c4-34187ebaa9f8'')/items?$select=Id,StagiaireIDId&$filter=Id eq ', variables('varDemandeID'))"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"authentication":"@parameters('$authentication')"},"description":"Récupère la Demande par ID pour obtenir le StagiaireIDId (lookup)"},"Initialiser_varAVS":{"runAfter":{"Initialiser_la_variable_3":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varAVS","type":"string","value":"@first(body('Envoyer_une_requête_HTTP_à_SharePoint_2')?['d']?['results'])?['AVS']"}]},"description":"AVS réel du stagiaire (récupéré depuis SharePoint)\nUtilisé pour le chemin des dossiers"},"MAJ_Statut_Demande":{"runAfter":{"Appliquer_à_chacun":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://fondationclairbois.sharepoint.com/sites/DFIP-SiteEquipe","table":"9616ee1d-dd0b-44fd-a1c4-34187ebaa9f8","id":"@int(variables('varDemandeID'))","item/Statut/Value":"Documents réceptionnés","item/DateReceptionDocs":"@utcNow()"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"},"description":"Met à jour la Demande : Statut → 'Documents réceptionnés' + DateReceptionDocs = maintenant"}},"outputs":{}},"connectionReferences":{"shared_office365":{"connectionName":"shared-office365-8dbff9e2-9647-451f-91d1-c3bf46cb4559","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_sharepointonline":{"connectionName":"shared-sharepointonl-9d5444a2-e35b-4b0c-a114-8022d6b1ace5","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}