backend/flux4-work/Microsoft.Flow/flows/f4c82a19-7d5e-4b3a-9f1c-8e6d2a0b5c47/definition.json
{"name":"b7a91c3d-2e4f-5060-8172-93a4b5c6d7e8","id":"/providers/Microsoft.Flow/flows/b7a91c3d-2e4f-5060-8172-93a4b5c6d7e8","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Flux 4 - Gestion des créneaux","definition":{"metadata":{"creator":{"id":"3995bcc7-5e9e-4254-8370-a930628a2317","type":"User","tenantId":"b38370c4-d4e6-4db3-8103-301e95e4e40c"},"clientLastModifiedTime":"2026-03-07T02:53:23.355Z","connectionKeySavedTimeKey":"2026-03-07T02:53:23.356Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Lorsqu'une_nouvelle_réponse_est_envoyée":{"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnectionWebhook","inputs":{"parameters":{"form_id":"xHCDs-bUs02BAzAeleTkDMe8lTmeXlRCg3CpMGKKIxdUMVIwUkI1MlNIMzA0SlhKQ0tXV0RKSUNOQi4u"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook"},"authentication":"@parameters('$authentication')"}}},"actions":{"Obtenir_les_détails_de_la_réponse":{"runAfter":{},"type":"OpenApiConnection","inputs":{"parameters":{"form_id":"xHCDs-bUs02BAzAeleTkDMe8lTmeXlRCg3CpMGKKIxdUMVIwUkI1MlNIMzA0SlhKQ0tXV0RKSUNOQi4u","response_id":"@triggerOutputs()?['body/resourceData/responseId']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"GetFormResponseById"},"authentication":"@parameters('$authentication')"},"description":"Récupère les détails de la réponse au formulaire Gestion des créneaux"},"Vérifier_mot_de_passe":{"runAfter":{"Obtenir_les_détails_de_la_réponse":["Succeeded"]},"type":"If","expression":{"and":[{"equals":["@outputs('Obtenir_les_détails_de_la_réponse')?['body/rce9b9c542c0d455a8c01298b063332fe']","ClairBois#Creneaux94!"]}]},"actions":{"Créer_Créneau":{"runAfter":{},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://fondationclairbois.sharepoint.com/sites/DFIP-SiteEquipe","table":"3e2deb27-f496-410f-be74-281eb2b0c079","item/Etablissement":"@replace(outputs('Obtenir_les_détails_de_la_réponse')?['body/rb1c6311a61044eb184fa3270fd065e32'], '+', ' ')","item/Description":"@outputs('Obtenir_les_détails_de_la_réponse')?['body/r43c3849ff3284246a7c68d571f7ca3df']","item/Secteur":"@replace(outputs('Obtenir_les_détails_de_la_réponse')?['body/r69f254172ecd4baa9c92b2ef2d86f48c'], '+', ' ')","item/DateDebut":"@outputs('Obtenir_les_détails_de_la_réponse')?['body/reee4e33cc677406885a947061d7d9cde']","item/DateFin":"@outputs('Obtenir_les_détails_de_la_réponse')?['body/r77ae6366339446f39c90be5aa93b3a71']","item/PlacesTotal":"@int(outputs('Obtenir_les_détails_de_la_réponse')?['body/r673220bf96894b43b6cd98c623c6d0fe'])","item/TypeCreneau/Value":"@outputs('Obtenir_les_détails_de_la_réponse')?['body/rd79308a2436b46d7be9921d3eed3ca79']","item/Nomdumodule":"@outputs('Obtenir_les_détails_de_la_réponse')?['body/rc347ff44177743a8b9561f6d6f9eed2c']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"authentication":"@parameters('$authentication')"},"description":"Crée un nouveau créneau dans la liste SharePoint Creneaux\nPlacesTotal converti de texte en nombre avec int()"}},"else":{"actions":{}},"description":"Vérifie le mot de passe avant de créer le créneau\nMot de passe incorrect = soumission ignorée"}},"outputs":{}},"connectionReferences":{"shared_microsoftforms":{"connectionName":"shared-microsoftform-d85e5621-5e28-4214-b672-097e0a4a02ff","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","tier":"NotSpecified","apiName":"microsoftforms","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_sharepointonline":{"connectionName":"shared-sharepointonl-9d5444a2-e35b-4b0c-a114-8022d6b1ace5","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}