backend/flux3-work/Microsoft.Flow/flows/e03bb264-eb3c-4ebd-bd63-87a78c083b68/definition.json
{"name":"4065c32b-b091-48a8-9755-fec5c13365dd","id":"/providers/Microsoft.Flow/flows/4065c32b-b091-48a8-9755-fec5c13365dd","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Flux 3 - Génération planning.json","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"3995bcc7-5e9e-4254-8370-a930628a2317","type":"User","tenantId":"b38370c4-d4e6-4db3-8103-301e95e4e40c"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2026-03-04T14:07:11.0416675Z","connectionKeySavedTimeKey":"2026-03-04T14:07:11.0416675Z","creationSource":null},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"GET_Creneaux":{"runAfter":{},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://fondationclairbois.sharepoint.com/sites/DFIP-SiteEquipe","parameters/method":"GET","parameters/uri":"_api/web/lists(guid'3e2deb27-f496-410f-be74-281eb2b0c079')/items?$select=Id,Etablissement,Secteur,DateDebut,DateFin,PlacesTotal,Description,Icone&$top=5000"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"authentication":"@parameters('$authentication')"},"description":"Récupère tous les créneaux depuis la liste SharePoint"},"GET_Demandes":{"runAfter":{"GET_Creneaux":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://fondationclairbois.sharepoint.com/sites/DFIP-SiteEquipe","parameters/method":"GET","parameters/uri":"_api/web/lists(guid'9616ee1d-dd0b-44fd-a1c4-34187ebaa9f8')/items?$select=Id,CreneauIDId,Statut&$top=5000"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"authentication":"@parameters('$authentication')"},"description":"Récupère toutes les Demandes avec leur CreneauIDId et Statut"},"Init_varCreneaux":{"runAfter":{"GET_Demandes":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varCreneaux","type":"array","value":[]}]},"description":"Tableau qui contiendra les créneaux avec le comptage des places"},"Appliquer_à_chaque_créneau":{"foreach":"@body('GET_Creneaux')?['d']?['results']","actions":{"Filtrer_Demandes":{"type":"Query","inputs":{"from":"@body('GET_Demandes')?['d']?['results']","where":"@and(equals(item()?['CreneauIDId'], items('Appliquer_à_chaque_créneau')?['Id']), not(equals(item()?['Statut'], 'Annulé')))"},"description":"Filtre les Demandes liées à ce créneau (Statut ≠ Annulé)"},"Ajouter_au_tableau":{"runAfter":{"Filtrer_Demandes":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"varCreneaux","value":{"etablissement":"@items('Appliquer_à_chaque_créneau')?['Etablissement']","secteur":"@items('Appliquer_à_chaque_créneau')?['Secteur']","dateDebut":"@formatDateTime(items('Appliquer_à_chaque_créneau')?['DateDebut'], 'yyyy-MM-dd')","dateFin":"@formatDateTime(items('Appliquer_à_chaque_créneau')?['DateFin'], 'yyyy-MM-dd')","placesTotal":"@items('Appliquer_à_chaque_créneau')?['PlacesTotal']","placesUtilisees":"@length(body('Filtrer_Demandes'))","description":"@items('Appliquer_à_chaque_créneau')?['Description']","icon":"@items('Appliquer_à_chaque_créneau')?['Icone']"}},"description":"Ajoute le créneau avec placesUtilisees = nb de Demandes liées"}},"runAfter":{"Init_varCreneaux":["Succeeded"]},"type":"Foreach","description":"Pour chaque créneau, compte les Demandes liées et construit l'entrée"},"Compose_JSON":{"runAfter":{"Appliquer_à_chaque_créneau":["Succeeded"]},"type":"Compose","inputs":{"lastUpdated":"@utcNow()","formsUrl":"https://forms.office.com/e/3SZvXC6kb5","formsUrlNouvelEtablissement":"https://forms.office.com/pages/responsepage.aspx?id=xHCDs-bUs02BAzAeleTkDMe8lTmeXlRCg3CpMGKKIxdUMVIwUkI1MlNIMzA0SlhKQ0tXV0RKSUNOQi4u","formsUrlNouveauSecteur":"https://forms.office.com/pages/responsepage.aspx?id=xHCDs-bUs02BAzAeleTkDMe8lTmeXlRCg3CpMGKKIxdUMVIwUkI1MlNIMzA0SlhKQ0tXV0RKSUNOQi4u","config":{},"creneaux":"@variables('varCreneaux')","modulesMetiers":{"formsUrlModules":"https://forms.office.com/e/3SZvXC6kb5","maxSelection":3,"semaines":[{"semaine":20,"annee":2026,"dateDebut":"2026-05-11","dateFin":"2026-05-15"},{"semaine":40,"annee":2026,"dateDebut":"2026-09-28","dateFin":"2026-10-02"},{"semaine":44,"annee":2026,"dateDebut":"2026-10-26","dateFin":"2026-10-30"},{"semaine":49,"annee":2026,"dateDebut":"2026-11-30","dateFin":"2026-12-04"}],"modules":[{"nom":"Cuisine","site":"CBP","jour":"lundi","heureDebut":"08:00","heureFin":"11:00","placesTotal":3,"placesUtilisees":0,"couleur":"#e67e22"},{"nom":"Cuisine","site":"CBM","jour":"mercredi","heureDebut":"08:00","heureFin":"11:00","placesTotal":2,"placesUtilisees":0,"couleur":"#e67e22"},{"nom":"Lingerie","site":"CBL","jour":"mardi","heureDebut":"08:00","heureFin":"11:00","placesTotal":2,"placesUtilisees":0,"couleur":"#8e44ad"},{"nom":"Pâtisserie","site":"CBM","jour":"mercredi","heureDebut":"08:00","heureFin":"11:00","placesTotal":4,"placesUtilisees":0,"couleur":"#f1c40f"},{"nom":"Audiovisuel","site":"CBM","jour":"mercredi","heureDebut":"11:00","heureFin":"14:00","placesTotal":2,"placesUtilisees":0,"couleur":"#27ae60"},{"nom":"Nettoyage","site":"CBM","jour":"jeudi","heureDebut":"08:00","heureFin":"11:00","placesTotal":2,"placesUtilisees":0,"couleur":"#e74c3c"},{"nom":"Nettoyage","site":"CBP","jour":"lundi","heureDebut":"14:00","heureFin":"17:00","placesTotal":3,"placesUtilisees":0,"couleur":"#e74c3c"},{"nom":"Technique","site":"CBL","jour":"vendredi","heureDebut":"08:00","heureFin":"11:00","placesTotal":3,"placesUtilisees":0,"couleur":"#2c3e50"},{"nom":"Restauration","site":"CBP","jour":"vendredi","heureDebut":"11:00","heureFin":"14:00","placesTotal":3,"placesUtilisees":0,"couleur":"#e91e8b"},{"nom":"Graphisme","site":"CBP","jour":"jeudi","heureDebut":"14:00","heureFin":"17:00","placesTotal":2,"placesUtilisees":0,"couleur":"#f39c12"},{"nom":"Ateliers","site":"CBP","jour":"lundi","heureDebut":"14:00","heureFin":"17:00","placesTotal":2,"placesUtilisees":0,"couleur":"#00bcd4"}]}},"description":"Construit le planning.json final (format plat, transformé par le frontend)"},"GET_SHA_GitHub":{"runAfter":{"Compose_JSON":["Succeeded"]},"type":"Http","inputs":{"uri":"https://api.github.com/repos/clairbois-dfip/clair-bois-calendrier/contents/public/planning.json","method":"GET","headers":{"Authorization":"Bearer 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","User-Agent":"PowerAutomate"}},"description":"Récupère le SHA du fichier actuel (nécessaire pour update GitHub API)"},"Push_GitHub":{"runAfter":{"GET_SHA_GitHub":["Succeeded"]},"type":"Http","inputs":{"uri":"https://api.github.com/repos/clairbois-dfip/clair-bois-calendrier/contents/public/planning.json","method":"PUT","headers":{"Authorization":"Bearer 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","Content-Type":"application/json","User-Agent":"PowerAutomate"},"body":{"message":"MAJ planning.json depuis Power Automate","content":"@{base64(string(outputs('Compose_JSON')))}","sha":"@body('GET_SHA_GitHub')?['sha']"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}},"description":"Met à jour planning.json sur GitHub (déclenche auto-deploy GitHub Pages)"}},"outputs":{}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-9d5444a2-e35b-4b0c-a114-8022d6b1ace5","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}